# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output folders
/bin/
/build/
/dist/

# Go workspace
go.work
go.work.sum

# Dependency directories (if used)
vendor/

# Logs
*.log

# Env files
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage.out